@keyframes modal-fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes modal-fade-out {
  from { opacity: 1; }
  to   { opacity: 0; }
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

dialog[open] {
  animation: modal-fade-in 250ms ease-in-out;
}

dialog[open]::backdrop {
  animation: modal-fade-in 250ms ease-in-out;
}

dialog.modal--closing {
  animation: modal-fade-out 250ms ease-in-out forwards;
}

dialog.modal--closing::backdrop {
  animation: modal-fade-out 250ms ease-in-out forwards;
}

.modal__content {
  height: calc(100% - 2rem);
  width: calc(100% - 2rem);
  max-width: 475px;
  border: none;
  border-radius: 1rem;
  padding: 20px;
  color: white;
  background-color: var(--color-black);
  position: relative;
}

.modal__content--settings {
  max-height: 520px;
}

.modal__content--title {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
}

.modal__content--item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-dark-gray);
  padding: 16px 0;
}

.modal__content--item a {
  color: var(--color-gray);
}

.modal__content--item-settings {
  padding-right: 8px;
}

.modal__content--item-settings-title {
  font-size: 18px;
}

.modal__content--item-settings-description {
  font-size: 12px;
  line-height: 16px;
  color: var(--color-gray);
}

.modal__button {
  background: transparent;
  border: 0;
  color: var(--color-white);
}

.modal__button--close {
  position: absolute;
  top: 10px;
  right: 10px;
}
