.results {
  width: 350px;
  height: 420px;
  overflow-y: auto;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.results__row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}

.results__row__letter {
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 2em;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  color: #fff;
  text-transform: uppercase;
  user-select: none;
}